@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "Jost", sans-serif;
/* overflow-x: hidden; */
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
body{
    max-width: 100vw;
    max-height: 100vh;
}
.homeContainer{
    max-width: 1500px;
    margin: 21px auto;
}

/*! Navbar.jsx style starts now */

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shifaImage img{
    width: 45px;
    height: 65px;
}
.shifaImage{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbarContainer h2{
    cursor: pointer;
    font-size: 27px;
    color:#3A8DFF;
    margin-bottom: 8px;
}
.navbarContainer ul{
    display: flex;
    gap:20px;
}
.navbarContainer ul li{
    font-weight: 400;
}
.active{
    color: #3A8DFF;
}

.createButton {
  padding: 7px 15px;
  color: white;
  background-color: #3A8DFF;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}



.profileImage{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.dropdownImage{
    padding-left: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}
.pal {
  position: absolute;
  top: 79px;
  display: none;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 10;
  width: 170px;
  height: 90px;
  cursor: pointer;
}

.parent:hover .pal {
  display: block;
}
.palInputs{
  margin-bottom: 2px;
}
.palInputs:hover{
  color: #3A8DFF;
}


/*! Header component starts here */


.headerContainer{
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6da9fd;
  border-radius: 15px;
}

.leftSide{
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.leftSide h1{
  color: white;
}
.headingParagraph{
  display: flex;
  align-items: center;
  gap: 8px;
}
.headingParagraph p{
  color: white;
}
.groupprofile{
  width: 100px;
}
 .ba {
  width: 185px;
  height: auto;
  padding: 15px;
  border-radius: 30px;
  border: none;
  color: black;
  background-color: white;
  display: flex;
  gap: 7px;
  align-items: center;
}

.ba:hover {
  color: #086fff;
  transform: scale(1);
}

.ba:hover img {
  filter: brightness(0) saturate(100%) invert(36%) sepia(91%) saturate(749%) hue-rotate(193deg) brightness(97%) contrast(101%);
}

.rightSide{
 max-height: 460px;
 overflow-y: hidden;
}
.rightSide img{
  margin-top: 10px;
 width: 300px;
 height: auto;
 /* margin-bottom: 70px; */
} 

/*! Speciality is here */

.specialityContainer{
  margin-top: 70px;
text-align: center;
display: flex;
flex-direction: column;
gap: 22px;
} 
.specialityContainer h1{
  font-size: 35px;
  font-weight: 400;
  color: #6da9fd;
}
.specialityContainer p{
  font-size: 21px;
}
.specialityImages{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.simages{
  width: 90px;
  height: auto;
}
.alldoctors {
  margin-top: 10px;
  transition: transform 0.3s ease;
}
.alldoctors:hover {
  transform: translateY(-8px);
}
.specialityText {
  transition: color 0.3s ease;
}

.specialityText:hover {
  color:#6da9fd;
}

/*! Top doctors.jsx starts here */

.doctorContainer{
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.doctorContainer h1{
  font-size: 35px;
  color: #6da9fd;
  font-weight: 400;
}
.dp{
  font-size: 19px;
}
.doctors{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  place-items: center;
  row-gap:32px;
  cursor: pointer;
}
.allDoctors{
   margin-top: 10px;
   margin-bottom: 10px;
  max-width: 250px;
  /* box-shadow: rgba(182, 197, 240, 0.2) 0px 7px 29px 0px; */
  border: 1px solid #c9ddf8;
  border-radius: 15px;
    transition: transform 0.3s ease;
}
.allDoctors:hover{
  transform: translateY(-8px);
}
.allDoctors img{
  border-radius: 15px 15px 0px 0px;
  width: 210px;
  height: 200px;
  background-color: #e8f0fa;
}
.doctorANS{
  padding: 7px 15px;
  
}
.docInfo{
  text-align: left;
  /* padding:8px 13px; */
    display: flex;
  gap: 8px;
  align-items: center;
}
.dot{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(160, 247, 160);

}
.aval{
  color: rgb(130, 204, 130);
}
.ns{
    text-align: left;

}
.ns h3{
  font-size: 20px;
  font-weight: 400;
}
.ns p{
  font-weight: 300;
  font-size: 16px;
}
.more{
  max-width: 80px;
  margin: 0 auto;
  padding: 8px 17px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #6da9fd;
  transition: transform 0.3s ease;
}
.more:hover{
    transform: translateY(-8px);
}

/*! bannner.jsx starts here */

.bannerContainer{
  border-radius: 13px;
  max-width: 1400px;
  max-height: 400px;
  margin: 80px auto;
  background-color: #6da9fd;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.leftBanner h1{
color: white;
font-size: 40px;
font-weight: 500;
margin-bottom: 20px;
}
.leftBanner button{
  padding: 10px 19px;
  color: black;
  border-radius: 30px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 17px;
   transition: all 0.3s ease-in-out;
}
.leftBanner button:hover{
  color: #086fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.rightBanner img{
 width: 400px;
 height: 500px;
 margin-bottom: 92px;
}
.footerContainer{
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* place-items: center; */
  gap: 20px;
  column-gap: 190px;
  margin-bottom: 30px;
}
.leftFooter{
  width: 600px;
}
.leftFooter p{
  font-size: 18px;
  letter-spacing: 1px;
}
.leftFooter h2{
   cursor: pointer;
    font-size: 27px;
    color:#3A8DFF;
    margin-bottom: 8px;
}
.middleFooter{
  margin-top: 8px;
}
.middleFooter h3{
   cursor: pointer;
    font-size: 22px;
    color:#3A8DFF;
}
.middleFooter ul{
  margin-top: 21px;
  margin-left: 3px;
}
.middleFooter ul li{
  margin-bottom: 13px;
  font-size: 17px;
}

.middleFooter ul li:hover{
color: #086fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.rightFooter{
   margin-top: 8px;
}
.rightFooter h3{
   cursor: pointer;
    font-size: 22px;
    color:#3A8DFF;
}
.rightFooter ul{
   margin-top: 21px;
  margin-left: 3px;
}
.rightFooter ul li{
  margin-bottom: 11px;
  font-size: 17px;
}
.rightFooter ul li:hover{
  color: #086fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.copyright{
  max-width: 1400px;
  margin: 0px auto;
}
.copyright p{
  text-align: center;
  padding: 14px 0;
}

/* alldoctors sections starts here */

.actualdoctorContainer{
  display: flex;
  justify-content: space-around;

}
.specialities{
 margin-top: 16px;
}
.specialities p{
  border: 1px solid #c9ddf8;
  padding: 6px 45px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
}

.rightDoctors{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  place-items: center;
  gap: 20px;
  margin-bottom: 60px;
}
.blue{
background-color:#c9ddf8 ;
}
.none{
background-color: white;
}

/* Appointments.jsx starts here */


.appointDoctorContainer{
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.appointmentDoctorImage img{
   background-color:#6da9fd;
  border-radius: 10px;
  width: 250px;
  height :300px;
  border: none;
}
.appointmentDoctorInfo{
  border: 1px solid silver;
  padding: 38px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 4px;
}
.appointmentDoctorInfo h2{
  font-size: 36px;
  font-weight: 400;
}
.degspeexp{
  display: flex;
  gap: 5px;
  color: rgb(66, 65, 65);
}
.exp{
  border-radius: 30px;
  padding: 1px 12px;
  border: 1px solid silver;
}
.appointmentDoctorInfo h4{
  font-weight: 500;
}
.about{
  padding-right: 300px;
}
.fees{
  font-weight: 500;
}
.bookingContainer{
   margin-top: 10px;
   margin-bottom: 30px;
   margin-left: 290px;
}
.bookingContainer h3{
  font-size: 21px;
  margin-bottom: 13px;
  font-weight: 400;
}
.bookingSlots{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.daydateContainer{
  display: flex;
  gap: 30px;
}
.insidedaydate{
  width: 60px;
  text-align: center;
  padding: 15px 5px;
  border-radius: 30px;
  border: 1px solid silver;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.doctorblue{
  background-color: #086fff;
  color: white;
}

.timeContainer {
  width: 100%;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Enables snap scrolling */
  scroll-padding-left: 30px; /* Optional: aligns first item nicely */
}

.time {
  text-align: center;
  padding: 6px 20px;
  border-radius: 30px;
  border: 1px solid silver;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  scroll-snap-align: start; /* Ensures each item snaps into view */
  flex: 0 0 auto; /* Prevents shrinking */
  width: 200px; /* Keep consistent width */
}
.book{
  width: 250px;
  padding: 12px 14px;
  border-radius: 30px;
  color: white;
  background-color: #086fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

/* about section starts now */

.aboutContainer{
  margin-top: 30px;
}
.aboutContainer h2{
  text-align: center;
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 19px;
  color: #6da9fd;
}
.allAbout{
  display: flex;
  align-items: center;
  gap: 30px;
}
.aboutImage img{
  width: 330px;
  height: 330px;
  border-radius: 7px;
}
.aboutInfo{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.whychoose{
  margin-top: 40px;
  
}
.whychoose p{
  margin-bottom: 30px;

}
.us{
  font-weight: 600;
}
.chooseContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  padding: 50px 15px;
}


/* contact page starts now */

.contactContainer{
  margin-top: 30px;
}

.contactContainer h2{
    text-align: center;
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 19px;
  color: #6da9fd;
}
.allAboutContact{
  display: flex;
  gap: 60px;
  justify-content: center;
  padding-bottom: 100px;
}
.contactImage img{
  width: 360px;
  height: 360px;
}
.contactInfo{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.contactInfo h3{
  font-size: 21px;
  font-weight: 400;
}

.contactInfo h4{
  font-size: 21px;
  font-weight: 400;
}
.explore{
  width: 150px;
  height: auto;
 padding: 9px 14px;
 background-color: white;
 color: black;
 transition: all 0.3s ease-in-out;
 border: 1px solid black;
}

.explore:hover{
  background-color: #6da9fd;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* login page starts here */

.loginContainer{
  display: grid;
  place-items: center;
  height: 56vh;
}
.loginform{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 23px 30px;
  width: 390px;
  height: auto;
  border-radius: 12px;
}
.headDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headDiv h2{
  font-size: 21px;
  font-weight: 500;
}
.headDiv input{
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
}
.cl{
  padding: 9px 2px;
  background-color: #086fff;
  color: white;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.login{
  text-decoration: underline;
  cursor: pointer;
}

.login:hover{
  color: #086fff;
}
.signup{
   text-decoration: underline;
  cursor: pointer;
}
.signup:hover{
  color: #086fff;
}
.whyus{
  font-size: 25px;
  text-align: center;
}

/* Appointment section starts now */
.appointmentContainer{
  margin-top: 20px;
}
.appointmentContainer h2{
  font-size: 26px;
  font-weight: 400;
}
.dac{
  display: flex;
  flex-direction: column;
  gap: 10px;
   margin-bottom: 40px;
}
.allInfo{
  border-radius: 9px;
  margin-top: 20px;
  display: flex;
  box-shadow: rgba(138, 138, 148, 0.2) 0px 7px 29px 0px;
  align-items: center;
  justify-content: space-between;
 
}
.docimgandinfo{
  display: flex;
  align-items: center;
}
.docimage img{
  width: 200px;
  height: auto;
}
.payCancel{
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  gap: 12px;
}
.pay{
  padding: 8px 35px;
  border: 1px solid rgb(173, 170, 170);
  outline: none;
  border-radius: 9px;
  background-color: white;
  color: black;
  font-size: 17px;
    transition: all 0.4s ease-in-out;
}
.pay:hover{
  background-color: #3A8DFF;
  color: white;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.cancel{
  padding: 8px 35px;
  border: 1px solid rgb(173, 170, 170);
  outline: none;
  border-radius: 9px;
  background-color: white;
  color: black;
  font-size: 17px;
}
.cancel:hover{
  background-color: #3A8DFF;
  color: white;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}